main {
    padding: 30px;
}

a {
    text-decoration: none;
    display: block;
}

.containers {
    display: grid;
    grid-template-columns: 1fr 400px;
    margin: 0 auto;
    /* padding: 20px; */
    /* background-color: red; */
}

.resume-container {
    width: 80%;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    /* background-color: blue; */
    border-radius: 24px;
    box-shadow: var(--element-box-shadow);
    margin: 10px;
    padding: 20px;
}

.contacts-container {
    width: 100%;
    height: fit-content;
    padding: 20px;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    /* background-color: blue; */
    border-radius: 24px;
    box-shadow: var(--element-box-shadow);
    margin: 10px 50px 5px -60px;
}

.contacts {
    padding: 10px;
}

.curs {
    cursor: pointer;
}

.marg {
    margin: 0px;
    line-height: 2;
}

.contact {
    line-height: 2;
}

.resume-h2 {
    text-align: center;
    font-size: 30px;
}

.header-h2 {
    /* padding: 10px; */
    font-size: 30px;
    text-align: center;
    

    /* margin-top: -10px; */
}

.line-hr {
    border: none;
    width: 90%;
    height: 1.5px;
    background-color: var(--text-color);
}

.header-h3 {
    font-size: 24px;
    margin: 20px auto;
    padding: 10px;
    width: fit-content;
    /* border-bottom: 1px solid var(--text-color); */
}

.header-h4 {
    font-size: 18px;
    margin-left: 10px;

}

.info-p {
    font-size: 17px;
    margin-left: 10px;
}

.info-ul {
    margin-left: -30px;
    /* list-style: none; */
    list-style-type: " ~  ";
    line-height: 2;
    font-size: 17px;
}



@media screen and (min-width:200px) and (max-width:400px){
    
    header {
        flex-direction: column;
        height: 350px;
        left: 0;
        /* width: 100%; */
    }

    header .logo {
        top: 20px;
        margin-left: -20%;
        margin-bottom: 40px;
        /* display: block; */
        position: absolute;
        font-size: 25px;
    }

    header ul {
        position: absolute;
        flex-direction: column;
        left: 0px;
        /* right: 0px; */
        top: 90px;
        width: 90%;
    }

    header ul li {

        text-align: center;
        margin-bottom: 10px;
        padding: 10px 50px;

    }

    .switch {
        display: block;
        top: 30px;
        justify-content: right;
        margin-right: 5%;
    }

    .content {
        width: 100%;
       
        /* justify-content: left; */
    }

    .containers {
        width: 100%;
        /* text-align: center; */
        position: relative;
        margin: 0 auto 0 -4%;
        /* align-content: center; */
        grid-template-columns: 1fr;
        /* background-color: red; */
        /* margin-left: -3%; */
    }

    .resume-container, .contacts-container {
        width: 90%;
        max-width: 270px;
        margin-bottom: 5%;
    }

    .contacts-container {
    margin-left: 0px;

    }



    footer {
        margin-top: auto;
        padding: 0.4em;
        width: 100%;
        background-color: black;
        color: darkorange;
        position: relative;
        justify-content: center;
    }
    
    .footer-container {
        width: 100%;
        justify-content: center;

    }
   
     .footer-container table {
        width: 90%;
        max-width: 400px;
        padding: 0.5em;
        text-align: center;
        margin: 0 auto;

        border-spacing: 1em 0;

    }
    
    .footer-container table th{
        font-size: 1.2em;
        padding: 0.7em;

    }

    
    .footer-container table td {
        font-size: 1.1em;
        padding: 0.4em;
        cursor: pointer;
        
    }
    
    .icons {
        margin-right: -5.2em;
        width: fit-content;
    }
    
    .icon-github-circled-1 {
        font-size: 1.3em;
    }
    
    .icon-linkedin {
        font-size: 1.3em;
    }
    
    .icon-mail {
        font-size: 1.3em;
        margin-top: 5px;
        font-weight: bold;
    }
    
    .icon-mail, .icon-linkedin, .icon-github-circled-1 {
        padding: 5px;
        background: darkorange;
        color: darkorange;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transition: 0.8s;
    } 

}

@media screen and (min-width:401px) and (max-width:600px){
    
    header {
        flex-direction: column;
        height: 350px;
        left: 0;
        /* width: 100%; */
    }

    header .logo {
        top: 20px;
        margin-left: -20%;
        margin-bottom: 40px;
        /* display: block; */
        position: absolute;
        font-size: 25px;
    }

    header ul {
        position: absolute;
        flex-direction: column;
        left: 0px;
        /* right: 0px; */
        top: 90px;
        width: 90%;
    }

    header ul li {

        text-align: center;
        margin-bottom: 10px;
        padding: 10px 50px;

    }

    .switch {
        display: block;
        top: 30px;
        justify-content: right;
        margin-right: 10%;
    }

    .content {
        width: 100%;
       
        /* justify-content: left; */
    }

    .containers {
        width: 100%;
        /* text-align: center; */
        position: relative;
        margin: 0 auto 0 -3%;
        /* align-content: center; */
        grid-template-columns: 1fr;
        /* background-color: red; */
        /* margin-left: -3%; */
    }

    .resume-container, .contacts-container {
        width: 90%;
        max-width: 400px;
        margin-bottom: 5%;
    }

    .contacts-container {
    margin-left: 0px;

    }


    footer {
        margin-top: auto;
        padding: 0.4em;
        width: 100%;
        background-color: black;
        color: darkorange;
        position: relative;
        justify-content: center;
    }
    
    .footer-container {
        width: 100%;
        justify-content: center;

    }
   
     .footer-container table {
        width: 90%;
        max-width: 400px;
        padding: 0.5em;
        text-align: center;
        margin: 0 auto;

        border-spacing: 1em 0;

    }
    
    .footer-container table th{
        font-size: 1.2em;
        padding: 0.7em;

    }

    
    .footer-container table td {
        font-size: 1.1em;
        padding: 0.4em;
        cursor: pointer;
        
    }
    
    .icons {
        margin-right: -5.2em;
        width: fit-content;
    }
    
    .icon-github-circled-1 {
        font-size: 1.3em;
    }
    
    .icon-linkedin {
        font-size: 1.3em;
    }
    
    .icon-mail {
        font-size: 1.3em;
        margin-top: 5px;
        font-weight: bold;
    }
    
    .icon-mail, .icon-linkedin, .icon-github-circled-1 {
        padding: 5px;
        background: darkorange;
        color: darkorange;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transition: 0.8s;
    } 

}

@media screen and (min-width:601px) and (max-width:800px){
    
    header {
        flex-direction: column;
        height: 350px;
        left: 0;
        /* width: 100%; */
    }

    header .logo {
        top: 20px;
        margin-left: -20%;
        margin-bottom: 40px;
        /* display: block; */
        position: absolute;
        font-size: 25px;
    }

    header ul {
        position: absolute;
        flex-direction: column;
        left: 0px;
        /* right: 0px; */
        top: 90px;
        width: 90%;
    }

    header ul li {

        text-align: center;
        margin-bottom: 10px;
        padding: 10px 50px;

    }

    .switch {
        display: block;
        top: 30px;
        justify-content: right;
        margin-right: 25%;
    }

    .content {
        width: 100%;
       
        /* justify-content: left; */
    }

    .containers {
        width: 100%;
        /* text-align: center; */
        position: relative;
        margin: 0 auto 0 auto;
        /* align-content: center; */
        grid-template-columns: 1fr;
        /* background-color: red; */
        /* margin-left: -3%; */
    }

    .resume-container, .contacts-container {
        width: 90%;
        max-width: 600px;
        margin-bottom: 5%;
    }

    .contacts-container {
    margin-left: 0px;

    }
    




    footer {
        margin-top: auto;
        padding: 0.4em;
        width: 100%;
        background-color: black;
        color: darkorange;
        position: relative;
        justify-content: center;
    }
    
    .footer-container {
        width: 100%;
        justify-content: center;

    }
   
     .footer-container table {
        width: 90%;
        max-width: 400px;
        padding: 0.5em;
        text-align: center;
        margin: 0 auto;

        border-spacing: 1em 0;

    }
    
    .footer-container table th{
        font-size: 1.2em;
        padding: 0.7em;

    }

    
    .footer-container table td {
        font-size: 1.1em;
        padding: 0.4em;
        cursor: pointer;
        
    }
    
    .icons {
        margin-right: -3em;
        width: fit-content;
    }
    
    .icon-github-circled-1 {
        font-size: 1.3em;
    }
    
    .icon-linkedin {
        font-size: 1.3em;
    }
    
    .icon-mail {
        font-size: 1.3em;
        margin-top: 5px;
        font-weight: bold;
    }
    
    .icon-mail, .icon-linkedin, .icon-github-circled-1 {
        padding: 5px;
        background: darkorange;
        color: darkorange;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transition: 0.8s;
    } 

}

@media screen and (min-width:801px) and (max-width:1100px){
    
    header {
        flex-direction: column;
        height: 350px;
        left: 0;
        /* width: 100%; */
    }

    header .logo {
        top: 20px;
        margin-left: -20%;
        margin-bottom: 40px;
        /* display: block; */
        position: absolute;
        font-size: 25px;
    }

    header ul {
        position: absolute;
        flex-direction: column;
        left: 0px;
        /* right: 0px; */
        top: 90px;
        width: 95%;
    }

    header ul li {

        text-align: center;
        margin-bottom: 10px;
        padding: 10px 50px;

    }

    .switch {
        display: block;
        top: 30px;
        justify-content: right;
        margin-right: 25%;
    }

    .content {
        width: 100%;
       
        /* justify-content: left; */
    }

    .containers {
        width: 100%;
        /* text-align: center; */
        position: relative;
        margin: 0 auto 0 auto;
        /* align-content: center; */
        grid-template-columns: 1fr;
        /* background-color: red; */
        /* margin-left: -3%; */
    }

    .resume-container, .contacts-container {
        width: 90%;
        max-width: 800px;
        margin-bottom: 5%;
    }

    .contacts-container {
    margin-left: 0px;

    }





    footer {
        margin-top: auto;
        padding: 0.8em;
        width: 100%;
        background-color: black;
        color: darkorange;
        position: relative;
        justify-content: center;
    }
    
    .footer-container {
        width: 100%;
        justify-content: center;

    }
   
     .footer-container table {
        width: 90%;
        max-width: 1000px;
        padding: 0.9em;
        text-align: center;
        margin: 0 auto;
        border-spacing: 2em 0;

    }
    
    .footer-container table th{
        font-size: 1.6em;
        padding: 0.7em;
    }

    
    .footer-container table td {
        font-size: 1.5em;
        padding: 0.5em;
        cursor: pointer;
        max-width: 500px;
        width: 50%;
    }
    
    .icons {
        margin-top: 1.7em;
        margin-right: -10em;
        width: fit-content;
    }
    
    .icon-github-circled-1 {
        font-size: 2em;
    }
    
    .icon-linkedin {
        font-size: 2em;
    }
    
    .icon-mail {
        font-size: 2em;
        margin-top: 5px;
        font-weight: bold;
    }
    
    .icon-mail, .icon-linkedin, .icon-github-circled-1 {
        padding: 5px;
        background: darkorange;
        color: darkorange;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transition: 0.8s;
    } 


    footer p {
        padding: .4em;
        font-size: 1.3em;
    }

}
