main {
    padding: 1.8rem;
}

a {
    text-decoration: none;
    display: block;
}

.containers {
    display: grid;
    grid-template-columns: 1fr 400px;
    margin: 0 auto;
}

.resume-container {
    width: 80%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 24px;
    box-shadow: var(--element-box-shadow);
    margin: 0.4rem;
    padding: 1.1rem;
}

.contacts-container {
    width: 100%;
    height: fit-content;
    padding: 1.25rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 24px;
    box-shadow: var(--element-box-shadow);
    margin: 0.6rem 3.1rem 0.3rem -3.75rem;
}

.contacts {
    padding: 0.6rem;
}

.curs {
    cursor: pointer;
}

.marg {
    margin: 0;
    line-height: 2;
}

.contact {
    line-height: 2;
}

.resume-h2 {
    text-align: center;
    font-size: 1.8rem;
}

.header-h2 {
    font-size: 1.8rem;
    text-align: center;
}

.line-hr {
    border: none;
    width: 90%;
    height: 1.5px;
    background-color: var(--text-color);
}

.header-h3 {
    font-size: 1.5rem;
    margin: 1.25rem auto;
    padding: 0.6rem;
    width: fit-content;
}

.header-h4 {
    font-size: 1.1rem;
    margin-left: 0.6rem;
}

.info-p {
    font-size: 1.1rem;
    margin-left: 0.3rem;
}

.info-ul {
    margin-left: -1.8rem;
    list-style-type: " ~  ";
    line-height: 2;
    font-size: 1.1rem;
}

@media screen and (min-width:200px) and (max-width:300px) {

    .containers {
        width: 100%;
        position: relative;
        margin: 0 auto 0 -4%;
        grid-template-columns: 1fr;
    }

    .resume-container,
    .contacts-container {
        width: 90%;
        max-width: 270px;
        margin-bottom: 5%;
    }

    .contacts-container {
        margin-left: 0;
    }

    .contacts {
        padding: 0.3rem;
    }
}

@media screen and (min-width:301px) and (max-width:400px) {
    .containers {
        width: 100%;
        position: relative;
        margin: 0 auto 0 -4%;
        grid-template-columns: 1fr;
    }

    .resume-container,
    .contacts-container {
        width: 90%;
        max-width: 285px;
        margin-bottom: 5%;
    }

    .contacts-container {
        margin-left: 0;
    }

    .contacts {
        padding: 0.3rem;
    }
}

@media screen and (min-width:401px) and (max-width:600px) {

    .containers {
        width: 100%;
        position: relative;
        margin: 0 auto 0 -3%;
        grid-template-columns: 1fr;
    }

    .resume-container,
    .contacts-container {
        width: 90%;
        max-width: 400px;
        margin-bottom: 5%;
    }

    .contacts-container {
        margin-left: 0;
    }
}

@media screen and (min-width:601px) and (max-width:800px) {

    .containers {
        width: 100%;
        position: relative;
        margin: 0 auto 0 auto;
        grid-template-columns: 1fr;
    }

    .resume-container,
    .contacts-container {
        width: 90%;
        max-width: 600px;
        margin-bottom: 5%;
    }

    .contacts-container {
        margin-left: 0;
    }
}

@media screen and (min-width:801px) and (max-width:1100px) {

    .containers {
        width: 100%;
        position: relative;
        margin: 0 auto 0 auto;
        grid-template-columns: 1fr;
    }

    .resume-container,
    .contacts-container {
        width: 90%;
        max-width: 800px;
        margin-bottom: 5%;
    }

    .contacts-container {
        margin-left: 0px;
    }
}
