.container {
    --background-color: white;
    /* --background-color: darkorange; */
    --text-color: black;
    --element-background-color: white;
    --element-text-color: black;
    --element-border-color: black;

    --card-box-shadow: 10px 10px 48px -7px rgba(0, 0, 0, 0.75);
    --card-webkit-box-shadow: 10px 10px 48px -7px rgba(0, 0, 0, 0.75);
    --card-moz-box-shadow: 10px 10px 48px -7px rgba(0, 0, 0, 0.75);
    --section-color: black;
}

.container.dark-theme {
    --background-color: #101010;
    --text-color: darkorange;
    --element-background-color: #040303;
    --element-text-color: darkorange;
    --element-border-color: darkorange;
    --element-container-border-color: darkorange;

    --card-box-shadow: 3px 3px 3px 0px rgba(255, 255, 255, 0.5);
    --card-webkit-box-shadow: 3px 3px 3px 0px rgba(255, 255, 255, 0.5);
    --card-moz-box-shadow: 3px 3px 3px 0px rgba(255, 255, 255, 0.5);
    --section-color: darkorange;
}


main {
    /* height: fit-content; */
    /* width: 100%; */
    background-color: var(--background-color);
    color: var(--text-color);
}

main .content-elements {
    left: 0;
    top: 0;
    padding: 20px;
}


.section {
    display: flex;
    align-items: center;
    padding: 10px;

}

.section h2 {
    margin-right: 3px;

}

.section .line {
    flex: 1;
    height: 2px;
    margin-top: 3px;
    background-color: var(--section-color);
}

.elements-block {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,390px));
    grid-template-rows: repeat(auto-fit,minmax(200px,1fr));
    box-sizing: border-box;
    height: fit-content;
    align-items: center;
    margin: 0 auto;
    
    width: 95%;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(80px,350px));
    grid-template-rows: repeat(auto-fit,minmax(50px,1fr));
    box-sizing: border-box;
    height: fit-content;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    gap: 20px;
}

/* .buttons {
    min-width: 200px;
    min-height: 30px;
} */

.buttons button {
    min-width: 200px;
    min-height: 30px;
    
}

.buttons .container-element {
    padding: 50px;
}

.container-element {
    /* position: relative; */
    border-radius: 20px;
    background-color: #1d1d1d;
    z-index: 0;
    padding: 20px;
    margin-bottom: 20px;
    width: fit-content;
    /* display: grid;
    align-content: center;*/
    align-items: center; 
}

.for-element {
    margin: 5px;
    width: 100%;
    z-index: 10;
}

@media screen and (min-width:200px) and (max-width:400px){
    
    header {
        flex-direction: column;
        height: 350px;
        left: 0;
        /* width: 100%; */
    }

    header .logo {
        top: 20px;
        margin-left: -20%;
        margin-bottom: 40px;
        /* display: block; */
        position: absolute;
        font-size: 25px;
    }

    header ul {
        position: absolute;
        flex-direction: column;
        left: 0px;
        /* right: 0px; */
        top: 90px;
        width: 90%;
    }

    header ul li {

        text-align: center;
        margin-bottom: 10px;
        padding: 10px 50px;

    }

    .switch {
        display: block;
        top: 30px;
        justify-content: right;
        margin-right: 5%;
    }

    .content {
        width: 100%;
       
        /* justify-content: left; */
    }

    .elements-block, .buttons{
        width: 80%;
        margin: 0 auto 0 -2%;
        /* text-align: center; */
        position: relative;
        /* align-content: center; */
        grid-template-columns: 1fr;
        /* background-color: red; */
        /* margin-left: -2%; */
    }

    .elements-block .container-element {
        width: fit-content;
        max-width: 300px;
        margin-bottom: 5%;
    }

    .buttons .container-element {
        width: fit-content;
        max-width: 250px;
        margin-bottom: 5%;
    }



    footer {
        margin-top: auto;
        padding: 0.4em;
        width: 100%;
        background-color: black;
        color: darkorange;
        position: relative;
        justify-content: center;
    }
    
    .footer-container {
        width: 100%;
        justify-content: center;

    }
   
     .footer-container table {
        width: 90%;
        max-width: 400px;
        padding: 0.5em;
        text-align: center;
        margin: 0 auto;

        border-spacing: 1em 0;

    }
    
    .footer-container table th{
        font-size: 1.2em;
        padding: 0.7em;

    }

    
    .footer-container table td {
        font-size: 1.1em;
        padding: 0.4em;
        cursor: pointer;
        
    }
    
    .icons {
        margin-right: -5.2em;
        width: fit-content;
    }
    
    .icon-github-circled-1 {
        font-size: 1.3em;
    }
    
    .icon-linkedin {
        font-size: 1.3em;
    }
    
    .icon-mail {
        font-size: 1.3em;
        margin-top: 5px;
        font-weight: bold;
    }
    
    .icon-mail, .icon-linkedin, .icon-github-circled-1 {
        padding: 5px;
        background: darkorange;
        color: darkorange;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transition: 0.8s;
    } 

}

@media screen and (min-width:401px) and (max-width:600px){
    
    header {
        flex-direction: column;
        height: 350px;
        left: 0;
        /* width: 100%; */
    }

    header .logo {
        top: 20px;
        margin-left: -20%;
        margin-bottom: 40px;
        /* display: block; */
        position: absolute;
        font-size: 25px;
    }

    header ul {
        position: absolute;
        flex-direction: column;
        left: 0px;
        /* right: 0px; */
        top: 90px;
        width: 90%;
    }

    header ul li {

        text-align: center;
        margin-bottom: 10px;
        padding: 10px 50px;

    }

    .switch {
        display: block;
        top: 30px;
        justify-content: right;
        margin-right: 10%;
    }

    .content {
        width: 100%;
       
        /* justify-content: left; */
    }

    .elements-block, .buttons{
        width: 90%;
        margin: 0 auto 0 -2%;
        /* text-align: center; */
        position: relative;
        /* align-content: center; */
        grid-template-columns: 1fr;
        /* background-color: red; */
        /* margin-left: -2%; */
    }

    .elements-block .container-element {
        width: 90%;
        max-width: 300px;
        margin-bottom: 5%;
    }

    .buttons .container-element {
        width: 70%;
        max-width: 250px;
        margin-bottom: 5%;
    }




    footer {
        margin-top: auto;
        padding: 0.4em;
        width: 100%;
        background-color: black;
        color: darkorange;
        position: relative;
        justify-content: center;
    }
    
    .footer-container {
        width: 100%;
        justify-content: center;

    }
   
     .footer-container table {
        width: 90%;
        max-width: 400px;
        padding: 0.5em;
        text-align: center;
        margin: 0 auto;

        border-spacing: 1em 0;

    }
    
    .footer-container table th{
        font-size: 1.2em;
        padding: 0.7em;

    }

    
    .footer-container table td {
        font-size: 1.1em;
        padding: 0.4em;
        cursor: pointer;
        
    }
    
    .icons {
        margin-right: -5.2em;
        width: fit-content;
    }
    
    .icon-github-circled-1 {
        font-size: 1.3em;
    }
    
    .icon-linkedin {
        font-size: 1.3em;
    }
    
    .icon-mail {
        font-size: 1.3em;
        margin-top: 5px;
        font-weight: bold;
    }
    
    .icon-mail, .icon-linkedin, .icon-github-circled-1 {
        padding: 5px;
        background: darkorange;
        color: darkorange;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transition: 0.8s;
    } 

}

@media screen and (min-width:601px) and (max-width:800px){
    
    header {
        flex-direction: column;
        height: 350px;
        left: 0;
        /* width: 100%; */
    }

    header .logo {
        top: 20px;
        margin-left: -20%;
        margin-bottom: 40px;
        /* display: block; */
        position: absolute;
        font-size: 25px;
    }

    header ul {
        position: absolute;
        flex-direction: column;
        left: 0px;
        /* right: 0px; */
        top: 90px;
        width: 90%;
    }

    header ul li {

        text-align: center;
        margin-bottom: 10px;
        padding: 10px 50px;

    }

    .switch {
        display: block;
        top: 30px;
        justify-content: right;
        margin-right: 25%;
    }

    .content {
        width: 100%;
       
        /* justify-content: left; */
    }

    .elements-block, .buttons{
        width: 95%;
        margin: 0 auto 0 auto;
        /* text-align: center; */
        position: relative;
        /* align-content: center; */
        grid-template-columns: 1fr 1fr;
        /* background-color: red; */
        /* margin-left: -2%; */
    }

    .elements-block .container-element {
        margin: 0 auto 5% auto;
        width: 85%;
        max-width: 400px;
        /* margin-bottom: 5%; */
    }

    .buttons .container-element {
        width: 70%;
        max-width: 300px;
        margin: 0 auto 5% auto;
        /* margin-bottom: 5%; */
    }


    

    footer {
        margin-top: auto;
        padding: 0.4em;
        width: 100%;
        background-color: black;
        color: darkorange;
        position: relative;
        justify-content: center;
    }
    
    .footer-container {
        width: 100%;
        justify-content: center;

    }
   
     .footer-container table {
        width: 90%;
        max-width: 400px;
        padding: 0.5em;
        text-align: center;
        margin: 0 auto;

        border-spacing: 1em 0;

    }
    
    .footer-container table th{
        font-size: 1.2em;
        padding: 0.7em;

    }

    
    .footer-container table td {
        font-size: 1.1em;
        padding: 0.4em;
        cursor: pointer;
        
    }
    
    .icons {
        margin-right: -3em;
        width: fit-content;
    }
    
    .icon-github-circled-1 {
        font-size: 1.3em;
    }
    
    .icon-linkedin {
        font-size: 1.3em;
    }
    
    .icon-mail {
        font-size: 1.3em;
        margin-top: 5px;
        font-weight: bold;
    }
    
    .icon-mail, .icon-linkedin, .icon-github-circled-1 {
        padding: 5px;
        background: darkorange;
        color: darkorange;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transition: 0.8s;
    } 

}

@media screen and (min-width:801px) and (max-width:1100px){
    
    header {
        flex-direction: column;
        height: 350px;
        left: 0;
        /* width: 100%; */
    }

    header .logo {
        top: 20px;
        margin-left: -20%;
        margin-bottom: 40px;
        /* display: block; */
        position: absolute;
        font-size: 25px;
    }

    header ul {
        position: absolute;
        flex-direction: column;
        left: 0px;
        /* right: 0px; */
        top: 90px;
        width: 95%;
    }

    header ul li {

        text-align: center;
        margin-bottom: 10px;
        padding: 10px 50px;

    }

    .switch {
        display: block;
        top: 30px;
        justify-content: right;
        margin-right: 25%;
    }

    .content {
        width: 100%;
       
        /* justify-content: left; */
    }

    .elements-block, .buttons{
        width: 92%;
        margin: 0 auto 0 auto;
        /* text-align: center; */
        position: relative;
        /* align-content: center; */
        grid-template-columns: 1fr 1fr;
        /* background-color: red; */
        /* margin-left: -2%; */
    }

    .elements-block .container-element {
        margin: 0 auto 5% auto;
        width: fit-content;
        max-width: 600px;
        /* margin-bottom: 5%; */
    }

    .buttons .container-element {
        width:fit-content;
        max-width: 400px;
        margin: 0 auto 5% auto;
        /* margin-bottom: 5%; */
    }

    footer {
        margin-top: auto;
        padding: 0.8em;
        width: 100%;
        background-color: black;
        color: darkorange;
        position: relative;
        justify-content: center;
    }
    
    .footer-container {
        width: 100%;
        justify-content: center;

    }
   
     .footer-container table {
        width: 90%;
        max-width: 1000px;
        padding: 0.9em;
        text-align: center;
        margin: 0 auto;
        border-spacing: 2em 0;

    }
    
    .footer-container table th{
        font-size: 1.6em;
        padding: 0.7em;
    }

    
    .footer-container table td {
        font-size: 1.5em;
        padding: 0.5em;
        cursor: pointer;
        max-width: 500px;
        width: 50%;
    }
    
    .icons {
        margin-top: 1.7em;
        margin-right: -9em;
        width: fit-content;
    }
    
    .icon-github-circled-1 {
        font-size: 2em;
    }
    
    .icon-linkedin {
        font-size: 2em;
    }
    
    .icon-mail {
        font-size: 2em;
        margin-top: 5px;
        font-weight: bold;
    }
    
    .icon-mail, .icon-linkedin, .icon-github-circled-1 {
        padding: 5px;
        background: darkorange;
        color: darkorange;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transition: 0.8s;
    } 


    footer p {
        padding: .4em;
        font-size: 1.3em;
    }

}


