.container {
    --background-color: white;
    --text-color: black;
    --element-background-color: white;
    --element-text-color: black;
    --element-border-color: black;
    --card-box-shadow: 10px 10px 48px -7px rgba(0, 0, 0, 0.75);
    --card-webkit-box-shadow: 10px 10px 48px -7px rgba(0, 0, 0, 0.75);
    --card-moz-box-shadow: 10px 10px 48px -7px rgba(0, 0, 0, 0.75);
    --section-color: black;
}

.container.dark-theme {
    --background-color: #101010;
    --text-color: darkorange;
    --element-background-color: #040303;
    --element-text-color: darkorange;
    --element-border-color: darkorange;
    --element-container-border-color: darkorange;
    --card-box-shadow: 3px 3px 3px 0px rgba(255, 255, 255, 0.5);
    --card-webkit-box-shadow: 3px 3px 3px 0px rgba(255, 255, 255, 0.5);
    --card-moz-box-shadow: 3px 3px 3px 0px rgba(255, 255, 255, 0.5);
    --section-color: darkorange;
}


main {
    background-color: var(--background-color);
    color: var(--text-color);
}

main .content-elements {
    left: 0;
    top: 0;
    padding: 1.25rem;
}

.section {
    display: flex;
    align-items: center;
    padding: 0.6rem;
}

.section h2 {
    margin-right: 0.18rem;
}

.section .line {
    flex: 1;
    height: 2px;
    margin-top: 0.18rem;
    background-color: var(--section-color);
}

.elements-block {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,390px));
    grid-template-rows: repeat(auto-fit,minmax(200px,1fr));
    box-sizing: border-box;
    height: fit-content;
    align-items: center;
    margin: 0 auto;
    width: 95%;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(80px,350px));
    grid-template-rows: repeat(auto-fit,minmax(50px,1fr));
    box-sizing: border-box;
    height: fit-content;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    gap: 1.25rem;
}

.buttons button {
    min-width: 200px;
    min-height: 30px;
}

.buttons .container-element {
    padding: 3.1rem;
}

.container-element {
    border-radius: 20px;
    background-color: #1d1d1d;
    z-index: 0;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    width: fit-content;
    align-items: center; 
}

.for-element {
    margin: 0.3rem;
    width: 100%;
    z-index: 10;
}

@media screen and (min-width:200px) and (max-width:400px){

    .elements-block, .buttons{
        width: 80%;
        margin: 0 auto 0 -2%;
        position: relative;
        grid-template-columns: 1fr;
    }

    .elements-block .container-element {
        width: fit-content;
        max-width: 300px;
        margin-bottom: 5%;
    }

    .buttons .container-element {
        width: fit-content;
        max-width: 250px;
        margin-bottom: 5%;
    }
}

@media screen and (min-width:401px) and (max-width:600px){

    .elements-block, .buttons{
        width: 90%;
        margin: 0 auto 0 -2%;
        position: relative;
        grid-template-columns: 1fr;
    }

    .elements-block .container-element {
        width: 90%;
        max-width: 300px;
        margin-bottom: 5%;
    }

    .buttons .container-element {
        width: 70%;
        max-width: 250px;
        margin-bottom: 5%;
    }
}

@media screen and (min-width:601px) and (max-width:800px){

    .elements-block, .buttons{
        width: 95%;
        margin: 0 auto 0 auto;
        position: relative;
        grid-template-columns: 1fr 1fr;
    }

    .elements-block .container-element {
        margin: 0 auto 5% auto;
        width: 85%;
        max-width: 400px;
    }

    .buttons .container-element {
        width: 70%;
        max-width: 300px;
        margin: 0 auto 5% auto;
    }
}

@media screen and (min-width:801px) and (max-width:1100px){

    .elements-block, .buttons{
        width: 92%;
        margin: 0 auto 0 auto;
        position: relative;
        grid-template-columns: 1fr 1fr;
    }

    .elements-block .container-element {
        margin: 0 auto 5% auto;
        width: fit-content;
        max-width: 600px;
    }

    .buttons .container-element {
        width:fit-content;
        max-width: 400px;
        margin: 0 auto 5% auto;
    }
}


