@font-face {
    font-family: 'fontello';
    src: url("../fonts/fontello-b649eaf8/font/fontello.ttf");
}

html,
body {
    padding: 0px;
    margin: 0;
    overflow-x: hidden;
    left: 0;
}

::selection {
    background-color: darkorange;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    --background-color: white;
    --text-color: black;
    --element-background-color: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    --element-text-color: black;

    --element-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    --element-border-color: white;

    background-color: var(--background-color);

}

.container.dark-theme {
    --background-color: #101010;
    --text-color: darkorange;
    --element-background-color: rgba(255, 140, 0, 0.9);
    --element-text-color: darkorange;
    --element-border-color: darkorange;
    --element-box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.37);
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    padding: 5px;
    position: relative;
    width: 100%;
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
    color: darkorange;

}

header .logo {
    font-size: 25px;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 70px;
    transition: 0.3s;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    left: 35%;
    align-content: center;
    position: absolute;
}



header ul li {
    margin-right: 35px;
    font-size: 18px;
    font-size: 20px;
    padding: 5px 10px;
    letter-spacing: 2px;
    border: 2px solid darkorange;
    transition: 0.5s;
    cursor: pointer;

}

header ul li:hover {
    background-color: rgba(255, 140, 0, 1);
    color: black;
}



.switch {
    position: absolute;
    right: 80px;
}

.switch-light-dark-theme {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    --slider-offset: 0.3em;
    --size-of-icon: 1.4em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}

.switch-light-dark-theme input {
    width: 0;
    height: 0;
    opacity: 0;
}

.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    background-color: inherit;
    transition: .4s;
    border: 2px solid darkorange;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    width: var(--size-of-icon, 1.4em);
    height: var(--size-of-icon, 1.4em);
    left: var(--slider-offset, 0.3em);
    border-radius: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: darkorange;
    transition: .4s;
}

input:checked+.slider {
    background-color: #ff8c00;
}

input:checked+.slider:before {
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
    background: darkorange;
    box-shadow: inset -3px -2px 5px -2px darkorange, inset -10px -4px 0 0 black;
}


main {
    background-color: var(--background-color);
    color: var(--text-color);
}

footer {
    margin-top: auto;
    padding: 5px;
    width: 100%;
    background-color: black;
    color: darkorange;
    position: relative;
}

.footer-container {
    margin: 0 auto;
    width: fit-content;
}

.footer-container table {
    padding: 1rem;
    text-align: center;
}

.footer-container table th {
    font-size: 1.2rem;
    padding: 0.4rem;

}

.footer-container table {
    margin-right: 1rem;
    border-spacing: 8rem 0;
}

.footer-container table td {
    font-size: 1.05rem;
    padding: 0.55rem;
    cursor: pointer;

}

.icons {
    position: absolute;
    top: 4rem;
    right: 37%;
    width: fit-content;
}

.icon-github-circled-1 {
    margin-left: -1rem;
    font-size: 1.4rem;
}

.icon-linkedin {
    font-size: 1.5rem;
    margin-left: -5px;
}

.icon-mail {
    font-size: 1.3rem;
    margin-top: -0.4rem;
    font-weight: bold;
}

.icon-mail,
.icon-linkedin,
.icon-github-circled-1 {
    margin-right: 0.5rem;
    padding: 0.3rem;
    background: darkorange;
    color: darkorange;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: 0.8s;
}

footer hr {
    width: 95%;
    border: none;
    height: 1px;
    background-color: rgba(255, 140, 0, 1);
    margin-bottom: 0.4rem;
}

footer p {
    text-align: center;
    letter-spacing: 1px;
}


@media screen and (min-width:200px) and (max-width:400px) {
    header {
        flex-direction: column;
        height: 350px;
        left: 0;
    }

    header .logo {
        top: 1.25rem;
        margin-left: -20%;
        margin-bottom: 2.3rem;
        position: absolute;
        font-size: 1.45rem;
    }

    header ul {
        position: absolute;
        flex-direction: column;
        left: 0;
        top: 5.6rem;
        width: 90%;
    }

    header ul li {
        text-align: center;
        margin-bottom: 0.7rem;
        padding: 0.6rem 3.25rem;
    }

    .switch {
        display: block;
        top: 1.8rem;
        justify-content: right;
        margin-right: 5%;
    }

    .content {
        width: 100%;
    }

    .containers {
        width: 100%;
        position: relative;
        grid-template-columns: 1fr;
        margin-left: -3%;
    }

    .content-container {
        width: 80%;
        max-width: 300px;
        margin-bottom: 5%;
    }

    footer {
        margin-top: auto;
        padding: 0.4rem;
        width: 100%;
        background-color: black;
        color: darkorange;
        position: relative;
        justify-content: center;
    }

    .footer-container {
        width: 100%;
        justify-content: center;

    }

    .footer-container table {
        width: 90%;
        max-width: 400px;
        padding: 0.5rem;
        text-align: center;
        margin: 0 auto;

        border-spacing: 1rem 0;

    }

    .footer-container table th {
        font-size: 1.2rem;
        padding: 0.7rem;

    }


    .footer-container table td {
        font-size: 1.1rem;
        padding: 0.5rem;
        cursor: pointer;

    }

    .icons {
        margin-right: -5.8rem;
        width: fit-content;
    }

    .icon-github-circled-1 {
        font-size: 1.3rem;
    }

    .icon-linkedin {
        font-size: 1.4rem;
    }

    .icon-mail {
        font-size: 1.3rem;
        margin-top: 0.4rem;
        font-weight: bold;
    }

    .icon-mail,
    .icon-linkedin,
    .icon-github-circled-1 {
        padding: 0.3rem;
        background: darkorange;
        color: darkorange;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transition: 0.8s;
    }
}


@media screen and (min-width:401px) and (max-width:600px) {
    
    header {
        flex-direction: column;
        height: 350px;
        left: 0;
    }

    header .logo {
        top: 1.25rem;
        margin-left: -20%;
        margin-bottom: 2.5rem;
        position: absolute;
        font-size: 1.5rem;
    }

    header ul {
        position: absolute;
        flex-direction: column;
        left: 0;
        top: 5.6rem;
        width: 90%;
    }

    header ul li {
        text-align: center;
        margin-bottom: 0.6rem;
        padding: 0.6rem 3.1rem;
    }

    .switch {
        display: block;
        top: 1.8rem;
        justify-content: right;
        margin-right: 10%;
    }

    .content {
        width: 100%;
    }
    
    footer {
        margin-top: auto;
        padding: 0.4rem;
        width: 100%;
        background-color: black;
        color: darkorange;
        position: relative;
        justify-content: center;
    }

    .footer-container {
        width: 100%;
        justify-content: center;
    }

    .footer-container table {
        width: 90%;
        max-width: 400px;
        padding: 0.5rem;
        text-align: center;
        margin: 0 auto;
        border-spacing: 1rem 0;
    }

    .footer-container table th {
        font-size: 1.3rem;
        padding: 0.7rem;
    }


    .footer-container table td {
        font-size: 1.2rem;
        padding: 0.6rem;
        cursor: pointer;
    }

    .icons {
        margin-right: -6rem;
        width: fit-content;
    }

    .icon-github-circled-1 {
        font-size: 1.3rem;
    }

    .icon-linkedin {
        font-size: 1.3rem;
    }

    .icon-mail {
        font-size: 1.3rem;
        margin-top: 0.4rem;
        font-weight: bold;
    }

    .icon-mail,
    .icon-linkedin,
    .icon-github-circled-1 {
        padding: 0.4rem;
        background: darkorange;
        color: darkorange;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transition: 0.8s;
    }
}

@media screen and (min-width:601px) and (max-width:800px) {
    
    header {
        flex-direction: column;
        height: 350px;
        left: 0;
    }

    header .logo {
        top: 1.2rem;
        margin-left: -20%;
        margin-bottom: 2.5rem;
        position: absolute;
        font-size: 1.5rem;
    }

    header ul {
        position: absolute;
        flex-direction: column;
        left: 0;
        top: 5.6rem;
        width: 90%;
    }

    header ul li {
        text-align: center;
        margin-bottom: 0.6rem;
        padding: 0.6rem 3.1rem;
    }

    .switch {
        display: block;
        top: 1.8rem;
        justify-content: right;
        margin-right: 25%;
    }

    .content {
        width: 100%;
    }

    footer {
        margin-top: auto;
        padding: 0.4rem;
        width: 100%;
        background-color: black;
        color: darkorange;
        position: relative;
        justify-content: center;
    }

    .footer-container {
        width: 100%;
        justify-content: center;
    }

    .footer-container table {
        width: 90%;
        max-width: 400px;
        padding: 0.5rem;
        text-align: center;
        margin: 0 auto;
        border-spacing: 1.2rem 0;
    }

    .footer-container table th {
        font-size: 1.3rem;
        padding: 0.7rem;
    }


    .footer-container table td {
        font-size: 1.2rem;
        padding: 0.6rem;
        cursor: pointer;
    }

    .icons {
        margin-right: -4rem;
        width: fit-content;
    }

    .icon-github-circled-1 {
        font-size: 1.3rem;
    }

    .icon-linkedin {
        font-size: 1.3rem;
    }

    .icon-mail {
        font-size: 1.3rem;
        margin-top: 0.4rem;
        font-weight: bold;
    }

    .icon-mail,
    .icon-linkedin,
    .icon-github-circled-1 {
        padding: 0.4rem;
        background: darkorange;
        color: darkorange;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transition: 0.8s;
    }
}

@media screen and (min-width:801px) and (max-width:1100px) {

    header {
        flex-direction: column;
        height: 350px;
        left: 0;
    }

    header .logo {
        top: 1.2rem;
        margin-left: -20%;
        margin-bottom: 2.5rem;
        position: absolute;
        font-size: 1.5rem;
    }

    header ul {
        position: absolute;
        flex-direction: column;
        left: 0;
        top: 5.6rem;
        width: 95%;
    }

    header ul li {
        text-align: center;
        margin-bottom: 0.6rem;
        padding: 0.6rem 3.1rem;
    }

    .switch {
        display: block;
        top: 1.8rem;
        justify-content: right;
        margin-right: 25%;
    }

    .content {
        width: 100%;
    }

    footer {
        margin-top: auto;
        padding: 0.8rem;
        width: 100%;
        background-color: black;
        color: darkorange;
        position: relative;
        justify-content: center;
    }

    .footer-container {
        width: 100%;
        justify-content: center;
    }

    .footer-container table {
        width: 80%;
        max-width: 800px;
        padding: 0.9rem;
        text-align: center;
        margin: 0 auto;
        border-spacing: 1rem 0;
    }

    .footer-container table th {
        font-size: 1.6rem;
        padding: 0.5rem;
    }


    .footer-container table td {
        font-size: 1.5rem;
        padding: 0.7rem;
        cursor: pointer;
        max-width: 500px;
        width: 50%;
    }

    .icons {
        margin-top: 1rem;
        margin-right: -8rem;
        width: fit-content;
    }

    .icon-github-circled-1 {
        font-size: 1.7rem;
    }

    .icon-linkedin {
        font-size: 1.7rem;
    }

    .icon-mail {
        font-size: 1.7rem;
        margin-top: 0.4rem;
        font-weight: bold;
    }

    .icon-mail,
    .icon-linkedin,
    .icon-github-circled-1 {
        padding: 0.4rem;
        background: darkorange;
        color: darkorange;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transition: 0.8s;
    }


    footer p {
        padding: 0.4rem;
        font-size: 1.3rem;
    }
}
