html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    left: 0;

}

main {
    height: fit-content;
    background-color: var(--background-color);
    color: var(--text-color);
}

.content {
    display: flex;
    width: 100%;
    flex: 1;
    padding: 5rem 3.1rem;
    align-content: center;
    text-align: center;
    position: relative;
    margin: 0 auto;

}

.containers {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.8rem;
}

.content-container {
    width: 100%;
    max-width: 400px;
    height: 300px;
    color: var(--element-text-color);
    background-color: white;
    border-radius: 10px;
    box-shadow: var(--element-box-shadow);
    border: 2px solid var(--element-container-border-color);
    background-color: var(--element-background-color);
}

.for-frame {
    margin: 3% auto;
    width: 95%;
    height: 90%;
    border-radius: 8px;
    position: relative;
    pointer-events: none;
    overflow: hidden;
    
}

.for-frame iframe {
    width: 1200px;
    height: 1000px;
    display: block;
    position: absolute;
    border: none;
    zoom: 0.4;
    transform: translate(-10%, 0);
    overflow: hidden;

}

.second iframe{
    width: 1400px;
    height: 1000px;
    zoom: 0.3;
    transform: translate(-5%, 0);
}


@media screen and (min-width:200px) and (max-width:400px){

    .containers {
        width: 100%;
        position: relative;
        grid-template-columns: 1fr;
        margin-left: -3%;
    }

    .content-container {
        width: 80%;
        max-width: 300px;
        margin-bottom: 5%;
    }
}

@media screen and (min-width:401px) and (max-width:600px){

    .containers {
        width: 100%;
        position: relative;
        grid-template-columns: 1fr;
        margin-left: 0%;
    }

    .content-container {
        width: 80%;
        max-width: 400px;
        margin-bottom: 5%;
    }
}

@media screen and (min-width:601px) and (max-width:800px){

    .containers {
        width: 100%;
        position: relative;
        grid-template-columns: 1fr 1fr;
        margin-left: -2%;
    }

    .content-container {
        max-width: 300px;
        margin-bottom: 5%;
    }
}

@media screen and (min-width:801px) and (max-width:1100px){

    .containers {
        width: 90%;
        position: relative;
        grid-template-columns: 1fr 1fr;
        margin-left: -2%;
        margin-right: 5%;
    }

    .content-container {
        max-width: 600px;
        margin-bottom: 10%;
    }

    .second iframe{
        width: 1400px;
        height: 1000px;
        zoom: 0.4;
        transform: translate(-5%, 0);
    }
}

