@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello-94cfbf4a/font/fontello.ttf');
}

@font-face {
    font-family: 'Titan One';
    src: url('../fonts/Titan_One/TitanOne-Regular.ttf');
}

@font-face {
    font-family: 'PlayFir Display';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}

::selection {
    background-color: pink;
}


body {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right,
            cornflowerblue,
            cornflowerblue 50%,
            cornflowerblue 60%,
            rgb(254, 160, 176) 50%);
    /* position: relative; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    box-shadow: 3px 6px 34px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 6px 34px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 6px 34px 0px rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right,
            rgb(119, 161, 239),
            rgb(119, 161, 239) 50%,
            rgb(119, 161, 239) 62.5%,
            rgb(252, 172, 185) 50%);

    width: 80%;
    height: 90%;

}

.top {
    /* top: 0; */
    max-height: 50px;
    /* background-color: red; */
    /* padding: 0; */
    display: inline-block;
    width: 100%;
    position: relative;
    top: 10px;
}

.top .menu-left {
    justify-content: left;
    max-width: 40%;
    align-items: center;
    /* background-color: blue; */
}

.top .menu-left ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
    padding: 15px;
    margin-top: 0;
}

.top .menu-left ul li {
    margin-left: 40px;
    text-transform: uppercase;
    color: white;
    font-size: 19px;
    cursor: pointer;
    position: relative;
}

.top .menu-left ul li::after {
    content: "";
    left: 0%;
    width: 100%;
    /* border-bottom: white solid 2px; */
    transform: scaleX(0);
    transform-origin: center;
    position: absolute;
    bottom: 0;
    background: white;
    height: 2px;
    transition: transform 0.4s ease;
}

.top .menu-left ul li:hover::after {
    /* height: 25px; */
    /* border-bottom: white solid 2px; */
    transform: scaleX(1);
}

.top .menu-right {
    display: flex;
    flex-direction: row;
    /* justify-content: right; */
    max-width: 50%;
    align-items: center;
    /* background-color: aqua; */
    top: 0;
    right: 40px;
    position: absolute;
    color: white;

}

.search {
    /* max-width: 10%; */
    display: flex;
    flex-direction: row;
    margin-right: 35px;
    height: 40px;
    align-items: center;
}

.search-input {
    border: none;
    border-radius: 25px;
    flex-grow: 1;
    width: 0;
    height: 20px;
    opacity: 0;
    pointer-events: none;
    /* visibility: hidden; */
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
    /* height: 0; */
}

.search-button {
    display: grid;
    width: 25px;
    height: 25px;
    transition: 0.5s ease;
    align-items: center;
    cursor: pointer;
    background-color: inherit;
    border: none;
}

.search .icon-search {
    font-size: 19px;
    /* text-align: center; */
    color: white;
}

.search:focus-within .search-input {
    width: 200px;
    opacity: 1;
    /* text-align: left; */
    background-color: white;
    padding: 5px 10px;
    outline: none;
}


::placeholder {
    font: inherit;
    color: black;
    opacity: 0.5;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: 0.5s;
}

.dropdown .dropbtn {
    width: fit-content;
    padding: 5px;
    background-color: inherit;
    color: white;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
}

.dropdown .dropdown-content {
    left: -26%;
    position: absolute;
    display: none;
    z-index: 1;
    color: white;
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0));
    text-align: center;
    max-width: 150px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.dropdown .dropdown-content a {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px;
    transition: 0.3s;
}

.dropdown .dropdown-content a:hover {
    background-color: rgb(253, 161, 177);
}

.dropdown:hover .dropdown-content {
    display: block;
}


.main {
    margin-top: 5px;
    /* background-color: red; */
    height: max-content;
    position: relative;
}

.big-text {
    padding: 20px;
    width: fit-content;
    /* background-color: blue; */
    height: fit-content;
    text-align: center;
    margin-left: 20px;
}

.big-text .first-line,
.big-text .third-line {
    font-size: 90px;
    color: white;
    text-transform: uppercase;
    font-family: 'Titan One';
    /* font-weight: 400; */
    font-style: initial;
    letter-spacing: 3px;
}

.big-text .second-line {
    font-size: 40px;
    color: white;
    letter-spacing: 4px;
    word-wrap: none;
    font-family: 'Playfir Display';
    /* padding: 5px; */
}

.white-container1 {
    margin-top: -15px;
    margin-left: 4%;
    background-color: white;
    color: black;
    width: 300px;
    height: fit-content;
    align-items: center;

    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.white-container1 p {
    padding: 15px;
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 1.2;
}

.pink-container {
    background-color: rgb(254, 160, 176);
    width: 100px;
    height: 40px;
    color: white;
    left: 26%;
    position: absolute;
    top: 365px;
}

.pink-container p {
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0 5%;
    /* left: 7%; */
}

.pages {
    max-width: 300px;
    /* display: inline-block; */
    /* background-color: red; */
    display: flex;
    align-items: center;
    margin-left: 4%;
    margin-top: 4%;
    /* position: absolute; */
}

.pages .num1 {
    color: white;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Titan One';
    letter-spacing: 2px;
}

.pages .num6 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Titan One';
    letter-spacing: 2px;
}

.pages .line {
    flex: 1;
    width: 80px;
    height: 2px;
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
}

.white-container2 {
    position: absolute;
    width: 50px;
    height: 150px;
    right: 0;
    top: 30%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    align-items: center;
}

.white-container2 .icon-twitter,
.white-container2 .icon-youtube-play,
.white-container2 .icon-facebook {
    color: white;
    /* background: black; */
    padding: 10px;
    /* margin-top: 5px; */
    font-size: 25px;
    transition: color 0.5s;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

.white-container2 .icon-twitter:hover {
    color: rgb(0, 115, 255);
}

.white-container2 .icon-youtube-play:hover {
    color: red;
}

.white-container2 .icon-facebook:hover {
    color: rgb(54, 54, 245);
}

.big-img {
    position: absolute;
    top: 0%;
    left: 42%;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    /* background-color: blueviolet; */
}

.big-img img {
    width: 370px;
    height: 370px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 50%;
}