
.icon-basket:before { content: '\e800'; } /* '' */
.icon-coffee-1:before { content: '\e801'; } /* '' */
.icon-basket-1:before { content: '\e802'; } /* '' */
.icon-basket-2:before { content: '\e803'; } /* '' */
.icon-plus-outline:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-plus-1:before { content: '\e806'; } /* '' */
.icon-plus-2:before { content: '\e807'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
